 * {
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 3px -100px;
}
h2,h3{
    color: black;
}

.signup-box {
    position: absolute;
    top: 40%;
    left: 40%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('');
    background-size: cover;
    box-shadow: 0 15px 25px rgba(209, 135, 25, 0.7);
    border-radius: 10px;
}

.signup-box h2 {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}

.signup-box .user-box input {
    position: relative;
    width: 100%;
    padding: 10px 0;
}

 #formBtn {
    padding: 10px 20px;
    color: rgb(218, 158, 69);
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #af5002;
    margin: auto;
} 

#formBtn:hover {
    background: rgb(218, 158, 69);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(209, 135, 25, 0.7), 0 0 25px rgb(209, 135, 25, 0.7), 0 0 50px rgb(209, 135, 25, 0.7), 0 0 100px rgb(209, 135, 25, 0.7);
 } 

.button-form{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.logout-form{
    display: flex;
    flex-direction: row;
    margin-left: 90%;
}
.header text-center .logout-form  */
#logout {
    padding: 10px 20px;
    border: 1px solid rgb(56, 32, 0);
    margin: auto;
    transition: .2s;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
} 

#logout:hover{
    background: rgb(218, 158, 69);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(209, 135, 25, 0.7), 0 0 25px rgb(209, 135, 25, 0.7), 0 0 50px rgb(209, 135, 25, 0.7), 0 0 100px rgb(209, 135, 25, 0.7);
} 