/* About Section Styling */
.about_section {
    position: relative;
    /* min-height: calc(100vh - 57px); */
    max-height: auto;
    margin-top: 50px;
    padding: 24px 0 10px 0;
    /* background-color:rgb(207, 59, 59); */
    display: flex;
}

/* ==== About Big Container ==== */
#about_container {
    position: relative;
    width: 90%;
    height: 764px;
    margin: 0 auto;
    display: flex;
}

/* ==== Right About Styling ==== */
#right_about {
    position: relative;
    width: 40%;
    background-color: gray;
}

#right-dot {
    top: -22px;
    left: -22px;
}

.about-image {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../../images/man-in-suit.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ==== Left About Styling ==== */
.left_about {
    padding-left: 5%;
    width: 60%;
    height: 100%;
    overflow: hidden;
}
.left-about-line1 {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.left_about #pointing_icon {
    margin-left: 30px;
}
.left-about-line1 span:last-child {
    margin-left: 20px;
    color: #886b40;
}

.left-about-line2 {
    margin: 40px 0;
}
.left-about-line2 h1 {
    font-size: 40px;
    font-weight: 600;
    text-shadow: 0 3px 3px rgb(0, 0, 0, 0.4);
    color: #291801;
}

.left-about-line3 p {
    font-size: 18px;
    font-weight: 600;
}
.left-about-line3 span {
    color: rgb(2, 87, 2);
}

.left-about-line4 {
    margin: 30px 0 0 0 ;
    overflow: hidden;
}

/* ==== About Card Styling ==== */
.about-card-wrapper {
    /* display: none; */
    position: absolute;
    right: 7%;
    bottom: 0;
    width: 80%;
    height: 200px;
    background-color: #f3f3f3;
}
.about-card-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #291801;
}

.about-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-inner-card {
    width: 200px;
    height: 150px;
    border-radius: 5px;
    background-color: white;
    box-shadow: -3px -3px 7px rgb(240, 248, 255, 0.7), 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.about-inner-card:hover {
    box-shadow: inset -3px -3px 7px rgb(240, 248, 255, 0.7), inset 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.inner-top {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-top img {
    width: 50px;
    height: auto;
}

.inner-bottom {
    width: 100%;
    height: 30%;
    text-align: center;
}

#about-dot1 {
    top: -22px;
    left: -22px;
    z-index: 1;
}

#about-dot2 {
    bottom: -22px;
    right: -22px;
    z-index: 1;
}

.about-card {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    z-index: 2;
    box-shadow: -3px -3px 7px rgb(240, 248, 255, 0.7), 3px 3px 7px rgba(0, 0, 0, 0.2);
}

/* ==== Responsive Styling ==== */
@media screen and (max-width: 744px) {
    .about_section {
        height: 1240px;
    }
    #about_container {
        flex-direction: column;
        /* background-color: aliceblue; */
    }
    #right_about {
        width: 100%;
        height: 50%;
    }
    .left_about {
        width: 100%;
        height: 50%;
    }

    .left-about-line2 h1 {
        font-size: 30px;
    }

    .about-card-wrapper {
        left: 0;
        width: 100%;
        height: 500px;
    }
    .about-card {
        flex-direction: column;
        box-shadow: none;
    }

    .about-card-container .dots {
        display: none;
    }

}
